body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Show link on tables with hover */
.table-hover tbody tr:hover > td {
    cursor: pointer;
}

.logo-image {
    padding-top: 5px;
    padding-bottom: 5px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;    
}

.logo-image-link, .logo-image-link:hover, .logo-image-link:visited, .logo-image-link:active {
    color: inherit;
    text-decoration: none;
}
